<strong>Olá, {{ student }}</strong>
<p>Você acabou de atualizar seu plano!! Seguem os novos dados:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> R${{ price }} <br />
  <br />
  <p>
    Agradecemos pela preferência!
  </p>
</p>
